.msg-form {
  position: fixed;
  bottom: 10px;
  width: 90%;
  height: 56px;
  padding: 10px;
}

.messages-container {
  height: calc(100vh - 150px);
  margin-right: 0px !important;
}

#side_panel {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 55px;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}
.message-box {
  word-wrap: break-word;
  overflow-x: hidden;
  width: fit-content;
  max-width: 40%;
  padding: 5px 10px 5px 12px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #555555;
  color: #fff;
  font-size: 14px
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.msg_history {
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.time_date {
  color: #b0b0b0;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
